.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
