._displayArea_845so_1{width:100vw;height:100vh}._layer_f6jkw_1{position:fixed;inset:0;width:100vw;height:100vh;padding:12px;display:flex;justify-content:center;align-content:center;align-items:center}
